################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LINQ/.vs
/LINQ/LINQ/bin/Debug/net6.0
/LINQ/LINQ/obj
